* {
    @include box-sizing(border-box);
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.title {
    font-family: "Droid Sans Bold", sans-serif;
}

.body {
    font-family: "Droid Sans Regular", sans-serif;
}
