
// Normalize
@import 'normalize-css/normalize.css';

// Libraries
@import 'libraries/variables';
@import 'libraries/fonts';

// Sections
@import 'sections/*';

// Partials
@import 'partials/*';

// Components
@import 'components/*';
