
@font-face {
  font-family: 'Droid Sans Regular';
  src: url('/fonts/droidsans-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/droidsans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/droidsans-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/droidsans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/droidsans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Droid Sans Bold';
  src: url('/fonts/droidsans-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/droidsans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/droidsans-bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/droidsans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/droidsans-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
