
// Libraries
@import "libraries/variables";
@import "libraries/fonts";

// Normalize
@import "normalize.styl/normalize.styl";

// Sections
@import "sections/globals";
@import "sections/containers";

body {
  background-color: red;
}
